.input-group.border.ms-2.rounded.rounded-5,
.form-control.border-end-0.rounded-start-5.p-2  {
    border-color: #929292!important;
}

.input-group.border.ms-2.rounded.rounded-5 {
    padding-right: 20px
}
.form-control.border-end-0.rounded-start-5.p-2 {
    padding-left: 20px!important;
}
.container-fluid.border-bottom {
    border-color: #e0e0e0!important;
}
*:not(.fa,i){
    font-family: "Cairo", serif!important;
    text-transform: capitalize;

}
.hero .splide__list, .hero .splide__slide {
    height: 520px;
    padding: 0;
}
.fm-cairo.btn.text-bg-light.py-1.px-3 {
    border: 1px solid #E8E8E8;
}
.hero .splide__arrow {
    display: none !important;
}
.hero .splide__slide div {
    width: 100%;
}
.hero .splide__pagination {
    text-align: right;
}
.hero .splide__pagination li {
    display: block;
    line-height: 1;
    list-style-type: disclosure-open;
    margin: 0;
    pointer-events: auto;
    width: 100%;
}
.hero .splide__pagination__page {
    background: #fff;
    opacity: 1;
    width: 13px;
    height: 13px;
    box-shadow: 1px 1px 15px #000;
    transform: scale(1.4);
    margin-bottom: 8px;

}
.hero .splide__pagination__page.is-active {
    background: #931158;
    opacity: 1;
    width: 13px;
    height: 13px;
    box-shadow: 1px 1px 15px #000;
    transform: scale(1.4);
}
.hero .splide__pagination{
    bottom: unset;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    top: 50%;
}
.most_requested .splide__list {
    height: auto;
}
.card.mb-5.text-start.shadow-sm.position-relative.border-0.p-0.rounded-3 {
    border-radius: 20px !important;
    box-shadow: 0 0 5px #d3cdcd !important;
}
.card-body.px-2.py-1.pb-4.px-2 {
    padding: 10px 17px 15px 17px !important;
}
.btn.btn-primary.fm-cairo.py-1.px-2.rounded-2.mt-2 {
    border-radius: 12px!important;
}

.overlayss {
    width: 100%;
    height: 100px;
    display: inline-table;
    background: rgba(0,0,0,0.5);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 25%, transparent 100%);
}
.carousel-indicators {
    bottom: 15px;
}
.hero .splide__slide img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}
.wedding.w-100.mt-1.mb-6.position-relative.{
display: block;
}

.carousel-item {
    height: unset;
}


.bestShops .splide__list ,.trinds .splide__list{
    height: unset!important;
}
.splide__list {
    height: unset!important;
}
.heading.position-relative {
    margin-bottom: 0;
}
h2 .text-black-50 {
    margin-bottom: 20px!important;
}
a {
    text-decoration: none!important;
}
.splide__slide {
    padding: 5px;
}
.splide__pagination__page.is-active, .carousel-indicators .active {
    background-color: #931158;
}
.splide.trinds__slider--one .splide__pagination {
    bottom: -1.5rem;
}
.footer-social img {
    width: 45px;
    margin-right: 10px;
    height: 45px;
    background: #ccc;
    padding: 10px;
    border-radius: 5px;
}
.footer-section h4 {
    font-weight: bold;
}
.footer-section ul li a {
    font-weight: 300;
}
footer {
    padding-top: 50px;
    margin-top: 0!important;
}
.bgConvert {
    background: #931158!important;
    color: #fff;
}
.bgConvert img {
    filter: brightness(0) invert(1);
}


#exampleModal .modal-body {
    padding: 30px 60px;
}

.form-control.border-end-0.rounded-start-5.p-2 {
    height: 42px;
} 
.input-group.border.ms-2.rounded.rounded-5 {
    height: 38px;
}
.input-group > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
    padding: 0 15px !important;
    height: 36px;
}
.btn.filter.p-2 {
    margin: 0;
}
.search__results.bg-main   {
    padding-top: 20px;
}
.mt-3.mb-5.me-2.h1 {
    margin-bottom: 10px!important;
}
.btn.btn-primary.fm-cairo.py-1.px-2.rounded-2 {
    border-radius: 9px !important;
}
.card-img-top {
    height: 180px!important;
}
.card.mb-5.text-start.shadow-sm.position-relative.border-0.p-0.rounded-5 {
    border-radius: 10px!important;
}
.navbar-expand-lg .navbar-nav .nav-link {
    font-weight: 700;
}

.serviceHeader::before   {
    content: "";
    position: absolute;
    width: 100px;
    height: 5px;
    background-color: #931158;
    bottom: 0;
    border-radius: 2px;
}

.serviceHeader {
    margin-left: 20px;
}
.btn.filter.p-2 {
    background: transparent;
}

.ProviderClass .card-img-top {
    height: 100% !important;

}
.myCards .myCard .info .header span {
    background-color: rgba(0,0,0,0.5);
    border-radius: 5px;
    color: #fff!important;
    padding: 5px;
}
.navbar-expand-lg .navbar-nav .nav-link {
text-decoration: none;
position: relative;
}

.navbar-expand-lg .navbar-nav .nav-link::before {
content: '';
position: absolute;
bottom: 0;
left: 0;
width: 0;
height: 4px;
background: linear-gradient(90deg, #dd3893, #931158); /* Tweak the color if needed */
border-radius: 0;
transition: all 0.2s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link:hover::before {
width: 100%;
border-radius: 50%;
}
.hero__content {
width: 45%!important;
}
.startplan {
    height: 40px;
    line-height: 18px;
}

button, .btn.btn-primary {
    text-decoration: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 0;
    font-weight: 400 !important;
 }
 
 button::after, .btn.btn-primary::after {
    content: '';
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    background: linear-gradient(45deg, #931158, #d2318a, #ff5db6, #f244a4, #94185c, #931158);
    background-size: 600%;
    z-index: -1;
    opacity: 0;
    transition: opacity .3s;
    animation: gradient-95 3s infinite linear;
 }
 
 button:hover::after, .btn.btn-primary:hover::after {
    opacity: 1;
 }
 
 @keyframes gradient-95 {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
 }

.navbar.navbar-expand-lg.col-md-12.col-lg-6 {
    padding: 5px 0;
}
.heading.position-relative {
    font-family: "Cabin", serif!important;
}
.card.mb-5.text-start.shadow-sm.position-relative.border-0.p-0.rounded-3 {
    width: 100%;
}
.trinds__slider--two .fm-cairo.mb-0 {
    margin-top: 12px;
}
.btn.btn-primary.fm-cairo.mt-3.mb-2.py-1.px-2.rounded-3.align-self-center {
    width: 120px!important;
    border-radius: 10px!important;
    height: 30px;
    line-height: 20px;
}
.SelectCateg {
    background-color: #EFEFEF;
}

.btn-closeee {
    position: absolute;
    right: 20px;
    top: 20;
    z-index: 99999;
    color: #000;
    font-size: 20px;
    opacity: 1;
}

.Pacckages {
    display: block;
    width: 100%;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}
.containerMission {
    height: unset;
}
.bestShops .splide__pagination.splide__pagination--ltr {
    display: none!important;
}
.serviceHeader {
    font-size: 30px;
    font-weight: bold;
}
.package-footer .rating {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 2px 5px;
    border-radius: 6px;
}
.card-img-top-cat {
    height: 100%!important;
}

#carouselExampleIndicatorsCats .carousel-indicators {
    bottom: -30px!important;
}


#carouselExampleIndicatorsCats .carousel-indicators [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #929292;
    
}
#carouselExampleIndicatorsCats .carousel-indicators .active  {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #931158!important;
}
#dropdownMenuButton1111:hover{
    background: none!important;
}
#dropdownMenuButton1111::after, #dropdownMenuButton1111::after {
    background: none!important;

}


@media screen and (max-width: 1200px) {
    .SelectCateg {
        padding: 20px;
    }
}


@media screen and (max-width: 992px) {
    .SelectCateg img {
        width: 90%;
    }
    .hero .splide__list, .hero .splide__slide {
        height: 270px;
    }
    .hero.position-relative.mb-8 {
        margin-bottom: 16rem !important;
    }
    .hero__content {
        width: 95% !important;
        transform: translate(-50%, 77%);
    }
    .splide__arrow--prev {
        left: -4px;
    }
    .splide__arrow--next {
        right: -10px;
    }
    .carousel-item {
        height: unset;
    }
    .wedding.w-100.mt-1.mb-6.position-relative {
        margin-bottom: 0;
    }
    #exampleModal .modal-body {
        padding: 10px 20px;
    }
    .step label {
        display: inline-block;
        float: left;
        padding: 4px;
    }
    .search__results .text-center > img {
        width: 70%;
        text-align: center;
        margin: auto;
        padding: 30px;
    }
    .footer-apps {
        margin-top: 20px;
    }
    .bestShops .splide__arrow--prev {
        left: 1px;
    }
    .best_shop .splide.is-initialized, .best_shop .splide.is-rendered {
        padding-left: 18px;
    }
    .filter-bar {
        width: 100%;
    }
    .search__results .card-body {
        padding: 10px;
    }
    .form.my-3.me-5 {
        margin-right: 1rem!important;
    }
    .filter-bar {
        border: 0;
    }
    .filter-bar img {
        margin-top: -60px;
    }
    .form-select.border-0.text-black-50.bg-main {
        padding-right: 0!important;
    }
    .d-flex.justify-content-between.border-bottom.pb-2.mb-4.search__content.position-relative {
        padding-bottom: 0.5rem !important;
    }
    .edit-filter-modal {
        top: -47px!important;
        height: 185px!important;
    }
    .splide__pagination.splide__pagination--ltr {
        display: none;
    }
    .card.mb-5.text-start.shadow-sm.position-relative.border-0.p-0.rounded-5 {
        width: 100%;
    }
    .package-card {
        max-width: 100%;
    }
    .menusm .dropup, .menusm .dropend, .menusm .dropdown, .menusm .dropstart, .menusm .dropup-center, .menusm .dropdown-center {
        width: 105px;
    }
    footer {
        margin-top: 30px;
    }
    .col-md-12.col-lg-4.ms-lg-auto.text-center.text-lg-start.menusm,
    .container-fluid.border-bottom {
        padding: 0!important;
    }
    .navbar.navbar-expand-lg.col-md-12.col-lg-6 {
        padding-top: 0;
    }
 
    .SelectCateg {
        background-color: #EFEFEF;
        padding: 10px  ;
        font-size: 12px;
        height: 120px;
    }
    .SelectCateg img {
        width: 85%;
        display: block;
        text-align: center;
        margin: auto;
    }
    .newBorn, .myCards.flex.flex-wrap.justify-between ,.myCard.bg-white.shadow-lg.rounded-lg.overflow-hidden, .myCards .row {
        width: 100%;
    }
    .myCards .myCard {
        min-width: unset!important;
    }
    .dropdown {
        margin: 0!important;
    }
}